
@{
    ViewBag.Title = "Plantilla";
}

<h1>
    <strong>@ViewBag.Title</strong>
</h1>

@{
    if (User.IsInRole("Usuario") || User.IsInRole("Administrador"))
    {
        <main role="main" class="flex-shrink-0">
            <div>
                <h1 class="mt-5">Para ingresar nuevos archivos se debe usar la plantilla requerida</h1>
                <p class="lead">Descargue <a href="/Organigrama/Plantilla">la plantilla de organigrama</a> si no la tiene.</p>

                <p class="lead"> Si ya tiene la plantilla presione el siguiente boton para subir archivos.</p>
                <button onclick="location.href='/Organigrama/Create'" class="btn btn-primary">Subir archivos</button>

            </div>
        </main>
    }
    else
    {
        <main role="main" class="flex-shrink-0">
            <div>
                <p class="lead">No cuenta con permisos para acceder a esta sección.</p>
                <p class="lead">Inicie sesión o contacte con un administrador.</p>
            </div>
        </main>
    }

}