@model List<EstadiasUTTN.Models.ViewModels.ListUsersViewModel>
@{
    ViewBag.Title = "Usuarios";
}

<h1>
    <strong>@ViewBag.Title</strong>
</h1>

<script>
    function mostrarOcultar(id) {
        var elemento = document.getElementById(id);
        if (!elemento) {
            return true;
        }
        if (elemento.style.display == "none") {
            elemento.style.display = "block"
        } else {
            elemento.style.display = "none"
        };
        return true;
    };
</script>
@{
    if (User.IsInRole("Administrador"))
    {
        using (Html.BeginForm("Usuarios", "Organigrama", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div>
                <a href="~/Organigrama/UsuariosOrgAll" class="btn btn-primary">Todos los registros</a>
            </div>
            <br />

            <div>
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th>Usuarios que han subido registros</th>
                            <th></th>
                            <th></th>
                            <th>Acción</th>
                        </tr>
                        @foreach (var oElemento in Model)
                        {
                            <tr>
                                <td>@oElemento.Nombre @oElemento.Apellido</td>
                                <td></td>
                                <td></td>
                                <td>@Html.ActionLink("Ver", "UsuariosOrg", new { iduser = oElemento.Idusuario }, new { @class = "btn btn-info" }) </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        }
    }
    else
    {
        <p class="lead">No cuenta con permisos para acceder a esta sección.</p>
        <p class="lead">Inicie sesión o contacte con un administrador.</p>
    }
}
