@{
    ViewBag.Title = "Confirmar correo electrónico";
}

<h1>
    <strong>@ViewBag.Title</strong>
</h1>

<h4>
    Gracias por confirmar su correo electrónico. @*Html.ActionLink("Haga clic aquí para iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })*@
</h4>