@{
    ViewBag.Title = "Confirmación de nombre de usuario olvidado";
}

<hgroup class="title">
    <h1>
        <strong>@ViewBag.Title</strong>
    </h1>
</hgroup>
<div>
    <p>
        <h2>Compruebe el correo electrónico para restablecer el nombre de usuario.</h2>
    </p>
</div>

