@{
    ViewBag.Title = "Contacto";
}
<h1>
    <strong>@ViewBag.Title.</strong>
</h1>

<link rel="stylesheet" href="~/Content/contactus.css" type="text/css">

<!--Section: Contact v.1-->
<section class="section pb-5">
    <div class="row">
        <!--Grid column-->
        <div class="col-lg-5 mb-4">
            <p style="text-align: center;">
                <strong>Teléfonos</strong><br>
                01 (899) 9201216 / 01 (899) 9203418 / 01 (899) 9201663 / 01 (899) 9201666
            </p>
            <!--Form with header-->
            <div class="card">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="" data-toggle="collapse" data-parent="#custom-collapse-0" href="#custom-collapse-0-3" aria-expanded="true">Administración y Finanzas</a>
                        </h4>
                    </div>
                    <div id="custom-collapse-0-3" class="panel-collapse collapse in" aria-expanded="true" style="">
                        <div class="panel-body">
                            <table class=" table table-bordered table-striped">
                                <tbody>
                                    <tr style="height: 24px;">
                                        <td style="height: 24px; width: 43.1177%;">C.P. Analía Estrella Valdez</td>
                                        <td style="height: 24px; width: 46.1028%;">Director de Administración y Finanzas</td>
                                        <td style="height: 24px; width: 50.0975%;">2030</td>
                                    </tr>
                                    <tr style="height: 24px;">
                                        <td style="height: 24px; width: 43.1177%;">C.P. Verónica Méndez González</td>
                                        <td style="height: 24px; width: 46.1028%;">Jefa de Contabilidad</td>
                                        <td style="height: 24px; width: 50.0975%;">2032</td>
                                    </tr>
                                    <tr style="height: 24px;">
                                        <td style="height: 24px; width: 43.1177%;">Ing. César Iván Medrano Moreno, Lic. Esmeralda Ahelí Castillo Pérez</td>
                                        <td style="height: 24px; width: 46.1028%;">Coordinación de Contabilidad</td>
                                        <td style="height: 24px; width: 50.0975%;">2032</td>
                                    </tr>
                                    <tr style="height: 24px;">
                                        <td style="height: 24px; width: 43.1177%;">C.P. Hugo Ávila Reyes, C.P. Gisel Aimara Carbajal Cruz</td>
                                        <td style="height: 24px; width: 46.1028%;">Presupuesto y Contabilidad</td>
                                        <td style="height: 24px; width: 50.0975%;">2045</td>
                                    </tr>
                                    <tr style="height: 24px;">
                                        <td style="height: 24px; width: 43.1177%;">Ing. Ándres Alberto Chapa Rodríguez</td>
                                        <td style="height: 24px; width: 46.1028%;">Jefe de Compras</td>
                                        <td style="height: 24px; width: 50.0975%;">2033</td>
                                    </tr>
                                    <tr style="height: 24px;">
                                        <td style="height: 24px; width: 43.1177%;">Isaac Yahir Figueroa Espinoza, Fernando Rodríguez Medellín</td>
                                        <td style="height: 24px; width: 46.1028%;">Coordinación de Compras</td>
                                        <td style="height: 24px; width: 50.0975%;">2033</td>
                                    </tr>
                                    <tr style="height: 24px;">
                                        <td style="height: 24px; width: 43.1177%;">Lic. Karina González Trujillo</td>
                                        <td style="height: 24px; width: 46.1028%;">Jefa de Recursos Humanos</td>
                                        <td style="height: 24px; width: 50.0975%;">2040</td>
                                    </tr>
                                    <tr style="height: 24px;">
                                        <td style="height: 24px; width: 43.1177%;">Ing. Gustavo Adolfo Silverio Medina, Ing. Maira Celeste Campos Zamudio, Denisse de Jesús Castillo Ordaz</td>
                                        <td style="height: 24px; width: 46.1028%;">Coordinación de Recursos Humanos</td>
                                        <td style="height: 24px; width: 50.0975%;">2034</td>
                                    </tr>
                                    <tr style="height: 24px;">
                                        <td style="height: 24px; width: 43.1177%;">Veronica Anabel Espinosa Espinosa</td>
                                        <td style="height: 24px; width: 46.1028%;">Recepción de Finanzas</td>
                                        <td style="height: 24px; width: 50.0975%;">2045</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <!--Form with header-->

        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-lg-7">

            <!--Google map-->
            <div id="map-container-google-11" class="z-depth-1-half map-container-6" style="height: 400px">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14337.866725175896!2d-98.2605056!3d26.0510005!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x28d4112d239ed51f!2sUniversidad%20Tecnol%C3%B3gica%20de%20Tamaulipas%20Norte!5e0!3m2!1ses-419!2smx!4v1607505384607!5m2!1ses-419!2smx"
                        frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>

            <br>
            <!--Buttons-->
            <div class="row text-center">
                <div class="col-md-4">
                    <a class="btn-floating blue accent-1"><i class="fas fa-map-marker-alt"></i></a>
                    <p>Reynosa, Tamps 88680 </p>
                    <p>México</p>
                </div>

                <div class="col-md-4">
                    <a class="btn-floating blue accent-1"><i class="fas fa-phone"></i></a>
                    <p>+52 899 920 1216</p>
                </div>

                <div class="col-md-4">
                    <a class="btn-floating blue accent-1"><i class="fas fa-envelope"></i></a>
                    <p>vinculacion@uttn.mx</p>
                </div>
            </div>

        </div>
        <!--Grid column-->

    </div>

</section>
<!--Section: Contact v.1-->