@{
    ViewBag.Title = "Home Page";
}

<head>
    <!-- Font Awesome Icons -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Theme CSS - Includes Bootstrap -->
    <link href="~/Content/style.css" rel="stylesheet">

    <script>
        var copy = document.getElementsByClassName("container body-content")[0];
        copy.className = "";
    </script>
</head>
<!-- Masthead -->
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <h1 class="text-uppercase text-white font-weight-bold">Universidad Tecnológica de Tamaulipas Norte</h1>
                <hr class="divider my-4">
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p style="font-size:20px" class="text-white-75 font-weight-light mb-5">Prototipo</p>
                <a class="btn btn-primary btn-xl js-scroll-trigger" href="#directcontact"><h6>Contacto directo</h6></a>
            </div>
        </div>
    </div>
</header>

<!-- Services Section -->
<section class="page-section" id="services">
    <div class="container">
        <h2 class="text-center mt-0">VISIÓN, MISIÓN Y POLÍTICA DE CALIDAD</h2>
        <hr class="divider my-4">
        <div class="row">
            <div class="col-md-4">
                <h2 style="text-align:center">Visión</h2>
                <p>
                    Ser una institución de educación superior con una oferta educativa pertinente e incluyente, reconocida a traves de la certificación y acreditacion de sus programas
                    educativos, promoviendo la internacionalización a través de la vinculación y el emprendedurismo, formadora de Técnicos Superiores Universitarios e Ingenieros honestos,
                    comprometidos con la mejora de su calidad de vida que satisfagan las expectativa del sector productivo para contribuir al desarrollo sustentable del pais.

                    <br /><br /><br />
                    DI-RE-03/R01
                </p>
            </div>
            <div class="col-md-4">
                <h2 style="text-align:center">Misión</h2>
                <p>
                    Ser una institución de educación superior formadora de profesionales, emprendedores y competitivos que mediante a aplicación de sus conocimientos,
                    habilidades y valores puedan contribuir como agentes de cambio en el desarrollo socioeconómico, tecnológico y cultural del estado de Tamaulipas y del pais.

                    <br /><br /><br /><br /><br /><br /><br />
                    DI-RE-02/R00
                </p>
            </div>
            <div class="col-md-4">
                <h2 style="text-align:center">Política de calidad</h2>
                <p>
                    En la Universidad Tecnológica de Tamaulipas Norte estamos comprometidos con satisfacer las necesidades y expectativas de nuestros clientes y demas partes interesadas,
                    a traves del cumplimiento de los requisitos aplicables en el desarrollo y provisión de servicios educativos para la formación de Técnicos superiores universitarios,
                    Licenciados en ingenieria, programas de educación continua y servicios tecnologicos, promoviendo en todo momento la mejora continua del sistema de gestión de calidad.

                    <br /><br /><br />
                    DI-DECA-01/R07
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Contact Section -->
<!-- Call to Action Section -->
<section id="directcontact" class="page-section bg-dark text-white">
    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="mt-0">Contacto al departamento</h2>
                <hr class="divider my-4">
                <p class="text-muted mb-5">Contacto directo con la jefa de Recursos Humanos<br />Lic. Karina González Trujillo</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
                <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
                <br />
                <div>01 (899) 9201216 <br /> 01 (899) 9203418 <br /> 01 (899) 9201663 <br /> 01 (899) 9201666 <br /> Ext. 2040</div>
            </div>
            <div class="col-lg-4 mr-auto text-center">
                <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
                <br />
                <!-- Make sure to change the email address in anchor text AND the link below! -->
                <a class="d-block" href="mailto:karina.gonzalez@uttn.mx">karina.gonzalez@uttn.mx</a>
            </div>
        </div>
    </div>
</section>