
@{
    ViewBag.Title = "Forbidden";
}

<h1>
    <strong>@ViewBag.Title</strong>
</h1>

<main role="main" class="flex-shrink-0">
    <div>
        <p class="lead">El servidor web está configurado para no mostrar el contenido de este directorio. 😉</p>
        <a class="btn btn-primary" href="/">Ir a la página principal</a>
    </div>
</main>