
@{
    ViewBag.Title = "General";
}

<h1>
    <strong>@ViewBag.Title</strong>
</h1>

<main role="main" class="flex-shrink-0">
    <div>
        <p class="lead">Ups !!! Se ha producido un error...</p>
        <a class="btn btn-primary" href="/">Ir a la página principal</a>
    </div>
</main>