
@{
    ViewBag.Title = "Error interno del servidor";
}


<h1>
    <strong>@ViewBag.Title</strong>
</h1>

<main role="main" class="flex-shrink-0">
    <div>
        <p class="lead">Se produjo un error interno del servidor y no se pudo completar su solicitud. Si cree que se trata de un error del servidor, póngase en contacto con su administrador.</p>
        <a class="btn btn-primary" href="/">Ir a la página principal</a>
    </div>
</main>