
@{
    ViewBag.Title = "Página no encontrada";
}

<h1>
    <strong>@ViewBag.Title</strong>
</h1>

<main role="main" class="flex-shrink-0">
    <div>
        <p class="lead">El contenido que usted está buscando no existe, o ya no está disponible.</p>
        <a class="btn btn-primary" href="/">Ir a la página principal</a>
    </div>
</main>